<div id="page-wrap">
  <h1>Welcome to Fjalë!</h1>

  <div class="board">
    <div class="wrapper">
      <div class="word-1">
        <div *ngFor="let key of gameBoard[0]; index as i" class="last-key">
          <div
            [ngStyle]="{
              'background-color': getOutcomeColor(outcomeBoard[0][i])
            }"
            class="key"
          >
            {{ key }}
          </div>
        </div>
      </div>

      <div class="word-2">
        <div *ngFor="let key of gameBoard[1]; index as i" class="last-key">
          <div
            [ngStyle]="{
              'background-color': getOutcomeColor(outcomeBoard[1][i])
            }"
            class="key"
          >
            {{ key }}
          </div>
        </div>
      </div>

      <div class="word-3">
        <div *ngFor="let key of gameBoard[2]; index as i" class="last-key">
          <div
            [ngStyle]="{
              'background-color': getOutcomeColor(outcomeBoard[2][i])
            }"
            class="key"
          >
            {{ key }}
          </div>
        </div>
      </div>

      <div class="word-4">
        <div *ngFor="let key of gameBoard[3]; index as i" class="last-key">
          <div
            [ngStyle]="{
              'background-color': getOutcomeColor(outcomeBoard[3][i])
            }"
            class="key"
          >
            {{ key }}
          </div>
        </div>
      </div>

      <div class="word-5">
        <div *ngFor="let key of gameBoard[4]; index as i" class="last-key">
          <div
            [ngStyle]="{
              'background-color': getOutcomeColor(outcomeBoard[4][i])
            }"
            class="key"
          >
            {{ key }}
          </div>
        </div>
      </div>
    </div>
    <br />

    <div class="keyboard-warpper">
      <button
        style="
          float: right;
          width: 150px;
          height: 50px;
          padding: 10px;
          font-size: 24px;
          border-radius: 8px;
          background-color: #f0f0f0;
          border: 2px solid #ccc;
          cursor: pointer;
        "
        (click)="deletePrevious()"
      >
        ⌫
      </button>
      <div class="keyboard">
        <button (click)="onKeyClick('A')">A</button>
        <button (click)="onKeyClick('B')">B</button>
        <button (click)="onKeyClick('C')">C</button>
        <button (click)="onKeyClick('Ç')">Ç</button>
        <button (click)="onKeyClick('D')">D</button>
        <button (click)="onKeyClick('DH')">DH</button>
        <button (click)="onKeyClick('E')">E</button>
        <button (click)="onKeyClick('Ë')">Ë</button>
        <button (click)="onKeyClick('F')">F</button>
        <button (click)="onKeyClick('G')">G</button>
        <button (click)="onKeyClick('GJ')">GJ</button>
        <button (click)="onKeyClick('H')">H</button>
        <button (click)="onKeyClick('I')">I</button>
        <button (click)="onKeyClick('J')">J</button>
        <button (click)="onKeyClick('K')">K</button>
        <button (click)="onKeyClick('L')">L</button>
        <button (click)="onKeyClick('LL')">LL</button>
        <button (click)="onKeyClick('M')">M</button>
        <button (click)="onKeyClick('N')">N</button>
        <button (click)="onKeyClick('NJ')">NJ</button>
        <button (click)="onKeyClick('O')">O</button>
        <button (click)="onKeyClick('P')">P</button>
        <button (click)="onKeyClick('Q')">Q</button>
        <button (click)="onKeyClick('R')">R</button>
        <button (click)="onKeyClick('RR')">RR</button>
        <button (click)="onKeyClick('S')">S</button>
        <button (click)="onKeyClick('SH')">SH</button>
        <button (click)="onKeyClick('T')">T</button>
        <button (click)="onKeyClick('TH')">TH</button>
        <button (click)="onKeyClick('U')">U</button>
        <button (click)="onKeyClick('V')">V</button>
        <button (click)="onKeyClick('X')">X</button>
        <button (click)="onKeyClick('XH')">XH</button>
        <button (click)="onKeyClick('Y')">Y</button>
        <button (click)="onKeyClick('Z')">Z</button>
        <button (click)="onKeyClick('ZH')">ZH</button>
        <!-- Add more buttons as needed -->
      </div>
    </div>
  </div>
</div>
